In [1]:
import pandas as pd
import openpyxl as op
import numpy as np
import glob
import os #e.g. get paths, folders list of files and change active folders
import sys # e.g. get python executable folder
import platform # e.g. information on python version used
import math
from pathlib import Path
import datetime as dt
import re

In [4]:
os.chdir(r'C:\Users\joao.melo\OneDrive')

In [5]:
os.getcwd()

'C:\\Users\\joao.melo\\OneDrive'

In [7]:
os.listdir()

['.849C9593-D756-4E56-8D6E-42412F2A707B',
 'Anexos de email',
 'Cofre Pessoal.lnk',
 'desktop.ini',
 'Documents',
 'Dropbox Dump',
 'Imagens',
 'Module 1-1.mp3',
 'Module 1-2.mp3',
 'Module 2-1.mp3',
 'Module 2-2.mp3',
 'Module 2-3.mp3',
 'Module 3-1.mp3',
 'Module 3-2.mp3',
 'Module 3-3.mp3',
 'Module 3-5.mp3',
 'Module 4-1.mp3',
 'Module 5-1.mp4',
 'Module 6-1.mp3',
 'Module 6-2.mp3',
 'Module 6-3.mp3',
 'Module 6-4.mp3',
 'Module 7-1.mp3',
 'Module 8-1.mp3',
 'Module 8-2.mp3',
 'Module 8-3.mp3',
 'Música',
 'Videos',
 'Área de Trabalho']

In [ ]:
for file in os.listdir

In [3]:
a=pd.DataFrame(np.random.randint(1,3,(5,5)))
b=pd.DataFrame(np.random.randint(1,3,(5,5)))

In [4]:
a

   0  1  2  3  4
0  2  2  2  1  1
1  1  2  1  1  2
2  1  1  1  2  1
3  2  2  2  1  2
4  2  1  2  1  2

In [5]:
b

   0  1  2  3  4
0  1  2  2  1  1
1  2  2  1  1  2
2  2  1  2  1  1
3  2  1  1  2  2
4  1  1  1  1  1

In [6]:
a.compare(b, align_axis=0)

           0    1    2    3    4
0 self   2.0  NaN  NaN  NaN  NaN
  other  1.0  NaN  NaN  NaN  NaN
1 self   1.0  NaN  NaN  NaN  NaN
  other  2.0  NaN  NaN  NaN  NaN
2 self   1.0  NaN  1.0  2.0  NaN
  other  2.0  NaN  2.0  1.0  NaN
3 self   NaN  2.0  2.0  1.0  NaN
  other  NaN  1.0  1.0  2.0  NaN
4 self   2.0  NaN  2.0  NaN  2.0
  other  1.0  NaN  1.0  NaN  1.0

In [8]:
name='John'

In [12]:
c=f'My name is: {name}'

#### Working with Excel

pd.ExcelFile # Loads Excel file from Pandas

In [6]:
xl1 = pd.ExcelFile('Beverage Sales FY21-23 Projection v5.xlsx')

In [7]:
xl1

In [8]:
xl1.sheet_names

['Master Data Validation',
 'Sales Fcst',
 'Monthly',
 'Monthly by Range-Colour',
 'Managerial P&L',
 'Pivot']

In [9]:
for sheet in xl1.sheet_names:
    wb.active = wb[sheet]
    wb[sheet]['A1'] = 'Johnny'
wb.save('Beverage Sales FY21-23 Projection v5 out.xlsx')

NameError: name 'wb' is not defined

In [10]:
dfxl1 = xl1.parse('Monthly')

In [11]:
xl1.active

AttributeError: 'ExcelFile' object has no attribute 'active'

In [12]:
dfxl1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TOTAL,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,FY20 \n(Per Bottle),FY21\n (Per Bottle),FY22 \n(Per Bottle),FY23\n (Per Bottle)
2,Units,17333,9361,18742,10504,10803,6065,6235,6256,5030,...,NaN,183961,265486,458439,728790,NaN,NaN,NaN,NaN,NaN
3,Revenue,221399,130001,188182,103352,119878,68620,59362,68310,50963,...,NaN,1809911,2654350,4034656,6112135,NaN,9.83856,9.99808,8.80086,8.38669
4,COGS,159809,88357,134922,71515,84820,45702,40332,45576,33613,...,NaN,1293480,1879191,2935662,4501787,NaN,7.03127,7.07831,6.4036,6.17707
5,Margin,61589,41645,53260,31836,35058,22918,19030,22735,17350,...,NaN,516430,775161,1098990,1610348,NaN,0.285335,0.292033,0.272389,0.263467
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,TOTAL EXCL ONSITE,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,NaN,NaN,NaN,NaN
9,Units,11775,4883,16132,6829,4398,2826,2814,3060,2544,...,NaN,140822,217122,407673,675500,NaN,NaN,NaN,NaN,NaN
10,Revenue,134584,61562,149114,67532,50618,32365,30622,37046,30246,...,NaN,1322017,2050735,3401238,5447428,NaN,9.38786,9.44508,8.34305,8.06429
11,COGS,98825,39489,106911,45279,34562,20711,19551,23721,19170,...,NaN,946660,1456507,2491976,4036049,NaN,6.72239,6.70824,6.11268,5.97491
12,Margin,35758,22073,42203,22253,16057,11654,11070,13325,11076,...,NaN,375356,594232,909264,1411377,NaN,0.283928,0.289763,0.267333,0.259091
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DOMESTIC,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,NaN,NaN,NaN,NaN
16,Units,2001,4283,4708,6829,4398,2826,2814,3060,2544,...,NaN,44177,75114,92098,120100,NaN,NaN,NaN,NaN,NaN
17,Revenue,27980,55736,62779,67532,50618,32365,30622,37046,30246,...,NaN,522882,956780,1172630,1528167,NaN,11.8361,12.7377,12.7324,12.7241
18,COGS,17823,35367,39707,45279,34562,20711,19551,23721,19170,...,NaN,338104,609572,746940,973103,NaN,7.65339,8.11529,8.11027,8.10244
19,Margin,10157,20369,23072,22253,16057,11654,11070,13325,11076,...,NaN,184778,347206,425687,555063,NaN,0.353384,0.362892,0.363022,0.363222
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,EXPORTS,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,NaN,NaN,NaN,NaN
23,Units,0,600,0,0,0,0,0,0,0,...,NaN,12600,0,18000,36000,NaN,NaN,NaN,NaN,NaN
24,Revenue,0,5826,0,0,0,0,0,0,0,...,NaN,83826,0,139020,278040,NaN,6.65286,NaN,7.72333,7.72333
25,COGS,0,4122,0,0,0,0,0,0,0,...,NaN,60996,0,103794,207588,NaN,4.84095,NaN,5.76633,5.76633
26,Margin,0,1704,0,0,0,0,0,0,0,...,NaN,22830,0,35226,70452,NaN,0.27235,NaN,0.253388,0.253388
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,CHINA,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,NaN,NaN,NaN,NaN
30,Units,9774,0,11424,0,0,0,0,0,0,...,NaN,84045,142008,297575,519400,NaN,NaN,NaN,NaN,NaN
31,Revenue,106603,0,86335,0,0,0,0,0,0,...,NaN,715308,1093955,2089594,3641219,NaN,8.51101,7.70347,7.02208,7.01043
32,COGS,81002,0,67204,0,0,0,0,0,0,...,NaN,547560,846934,1641241,2855358,NaN,6.51508,5.96399,5.51539,5.49742
33,Margin,25601,0,19131,0,0,0,0,0,0,...,NaN,167749,247026,448349,785861,NaN,0.234512,0.225805,0.214565,0.215824
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,ON SITE,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,NaN,NaN,NaN,NaN
37,Units,5558,4478,2610,3675,6405,3239,3421,3196,2486,...,NaN,43139,48364,50766,53289,NaN,NaN,NaN,NaN,NaN
38,Revenue,86815,68439,39068,35819,69260,36255,28741,31264,20717,...,NaN,487894,603614,633416,664710,NaN,11.3098,12.4806,12.4772,12.4737
39,COGS,60984,48868,28011,26236,50258,24991,20781,21855,14443,...,NaN,346822,422687,443685,465738,NaN,8.03964,8.7397,8.73981,8.73985
40,Margin,25831,19571,11056,9583,19001,11264,7960,9409,6274,...,NaN,141071,180928,189729,198971,NaN,0.289145,0.29974,0.299536,0.299337

In [13]:
dfxl1.columns = dfxl1.iloc[1]
dfxl1 = dfxl1.drop(index=5)

In [14]:
dfxl1 = dfxl1.set_index('Margin')

KeyError: "None of ['Margin'] are in the columns"

In [15]:
dfxl2 = dfxl1

In [16]:
dfxl2 = dfxl2.set_index(dfxl2.iloc[:,4])

In [17]:
dfxl1.reindex_like(dfxl2)

1,TOTAL,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,...,NaN,FY20,FY21,FY22,FY23,NaN,FY20 \n(Per Bottle),FY21\n (Per Bottle),FY22 \n(Per Bottle),FY23\n (Per Bottle)
2019-11-01 00:00:00,,,,,,,,,,,,,,,,,,,,,
FY20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,FY20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
%who

Path	 dfxl1	 dt	 glob	 math	 nbmerge	 np	 op	 os
pd	 xl1

op.load_workbook # loads Excel file with Openpyxl

In [77]:
wb=op.load_workbook('Beverage Sales FY21-23 Projection v5.xlsx')

In [78]:
wb.worksheets

[<Worksheet "Master Data Validation">,
 <Worksheet "Sales Fcst">,
 <Worksheet "Monthly">,
 <Worksheet "Monthly by Range-Colour">,
 <Worksheet "Managerial P&L">,
 <Worksheet "Pivot">]

In [80]:
wb.sheetnames

['Master Data Validation',
 'Sales Fcst',
 'Monthly',
 'Monthly by Range-Colour',
 'Managerial P&L',
 'Pivot']

In [82]:
for sheet in wb.sheetnames:
    wb.active = wb[sheet]
    wb[sheet]['A1'] = 'Johnny'
wb.save('Beverage Sales FY21-23 Projection v5 out.xlsx')

In [83]:
wb.active = wb['Monthly']

In [84]:
wb.active

pd.read_excel # Loads Excel selected worksheets as dataframes or dictionaries if several worksheets

In [25]:
xl2 = pd.read_excel('Beverage Sales FY21-23 Projection v5.xlsx', sheet_name = None)

In [34]:
xl2.keys()

dict_keys(['Master Data Validation', 'Sales Fcst', 'Monthly', 'Monthly by Range-Colour', 'Managerial P&L', 'Pivot'])

In [ ]:
xl2.values()

In [85]:
dfxl2 = xl2['Sales Fcst']

In [94]:
l = list(xl2.keys())

In [101]:
for sheet in l:
    xl2[sheet].iloc[1,1] = 'Johnny'

In [103]:
xl2['Sales Fcst']

,Sales/Forecast in bottles,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,COGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Johnny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.03465e+06,6.11214e+06,429227,520409,431065,498489,1.87919e+06,2.93566e+06,4.50179e+06,Johnny
2,Range,Colour,Varietal,Market,Channel 1,Channel 2,Channel 3,Activity,Unit COGS,Unit Price,...,FY22 \nSales Revenue,FY23 \nSales Revenue,Q1 \nSales Cost of Goods,Q2 \nSales Cost of Goods,Q3 \nSales Cost of Goods,Q4 \nSales Cost of Goods,FY21 \nSales Cost of Goods,FY22 \nSales Cost of Goods,FY23 \nSales Cost of Goods,NaN
3,Blush Crush,White & Rose,Sauv Blanc,Canada,Canada,Canada,NaN,SALES/FCST,2.47,3.96,...,0,0,0,0,0,0,0,0,0,NaN
4,Expressions,White & Rose,Pinot Gris,Canada,Canada,Canada,NaN,SALES/FCST,5.71571,8.5,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,X,White & Rose,Cider,NZ,NZ - Off Site,Trad,NaN,SALES/FCST,2.28,2.52,...,0,0,0,0,0,0,0,0,0,NaN
123,Seasonal,Red,Merlot Malbec,NZ,NZ - Off Site,Trad,NaN,SALES/FCST,8.95,19.8,...,7396.58,9171.76,702.396,702.396,702.396,702.396,2809.58,3343.4,4145.82,NaN
124,Seasonal,Red,Merlot Malbec,NZ,NZ - Off Site,Grocery,NaN,SALES/FCST,8.95,19.8,...,0,0,0,0,0,0,0,0,0,NaN
125,Seasonal,Red,Merlot Malbec,NZ,NZ - Off Site,On Prem,NaN,SALES/FCST,8.95,19.8,...,10786.7,13375.5,936.528,819.462,936.528,1404.79,4097.31,4875.8,6045.99,NaN
126,Expressions,White & Rose,Chardonnay,Canada,Canada,Canada,NaN,NaN,7.82,10.17,...,61020,122040,0,0,0,0,0,46920,93840,NaN

Iterating across cells in Excel

In [ ]:
for value in ws.iter_rows(1,1,values_only=True):
    print(value)

In [ ]:
for value in ws.iter_rows(2,None,4,7, values_only=True):
    print(value)

Retrievinga and entering values in cells in Excel

In [7]:
ws['A1'].value

'Total Beverage Sales FY22-23 Projection'

In [105]:
ws['A1'].value = 34

Entering a formula in Excel

In [ ]:
ws['P1'] = '=AVERAGE(H2:H100)'

In [ ]:
import json

In [ ]:
products = {}

for row in ws.iter_rows(2,None,4,7, values_only=True):
    product_id=row[0]
    product = {'parent': row[1],
              'title': row[2],
              'category': row[3]}
    products[product_id] = product

print(json.dumps(products))

In [ ]:
from openpyxl import load_workbook
from datetime import datetime
from classes import Product, Review
from mapping import PRODUCT_ID, PRODUCT_PARENT, PRODUCT_TITLE, PRODUCT_CATEGORY, REVIEW_DATE, REVIEW_ID, \
                    REVIEW_CUSTOMER, REVIEW_STARS, REVIEW_HEADLINE, REVIEW_BODY

wb = load_workbook(filename='reviews-sample.xlsx')
ws = wb.active

products = []
reviews = []

for row in ws.iter_rows(min_row=2, values_only=True):
    product = Product(id=row[PRODUCT_ID], parent=row[PRODUCT_PARENT], title=row[PRODUCT_TITLE], category=row[PRODUCT_CATEGORY] )
    products.append(product)

    spread_date = row[REVIEW_DATE]
    parsed_date = datetime.strptime(spread_date, '%Y-%m-%d')
    
    review = Review(id=row[REVIEW_ID], customer_id=row[REVIEW_CUSTOMER],
                    stars=row[REVIEW_STARS],
                    headline=row[REVIEW_HEADLINE],
                    body=row[REVIEW_BODY],
                    date=parsed_date)
    reviews.append(review)

print(products[0])
print(reviews[0])

In [ ]:
wb.save('reviews-sample.xlsx')

In [ ]:
>>> # Import necessary style classes
>>> from openpyxl.styles import Font, Color, Alignment, Border, Side, colors

>>> # Create a few styles
>>> bold_font = Font(bold=True)
>>> big_red_text = Font(color=colors.RED, size=20)
>>> center_aligned_text = Alignment(horizontal="center")
>>> double_border_side = Side(border_style="double")
>>> square_border = Border(top=double_border_side,
...                        right=double_border_side,
...                        bottom=double_border_side,
...                        left=double_border_side)

>>> # Style some cells!
>>> ws["A2"].font = bold_font
>>> ws["A3"].font = big_red_text
>>> ws["A4"].alignment = center_aligned_text
>>> ws["A5"].border = square_border
>>> wb.save(filename="reviews-sample.xlsx")

In [ ]:
>>> from openpyxl.styles import NamedStyle

>>> # Let's create a style template for the header row
>>> header = NamedStyle(name="header")
>>> header.font = Font(bold=True)
>>> header.border = Border(bottom=Side(border_style="thin"))
>>> header.alignment = Alignment(horizontal="center", vertical="center")

>>> # Now let's apply this to all first row (header) cells
>>> header_row = ws[1]
>>> for cell in header_row:
...     cell.style = header

>>> wb.save(filename="reviews-sample.xlsx")

In [ ]:
>>> from openpyxl.styles import PatternFill, colors
>>> from openpyxl.styles.differential import DifferentialStyle
>>> from openpyxl.formatting.rule import Rule

>>> red_background = PatternFill(bgColor=colors.RED)
>>> diff_style = DifferentialStyle(fill=red_background)
>>> rule = Rule(type="expression", dxf=diff_style)
>>> rule.formula = ["$H1<3"]
>>> ws.conditional_formatting.add("A1:O100", rule)
>>> wb.save("sample_conditional_formatting.xlsx")

In [ ]:
#The ColorScale gives you the ability to create color gradients:
from openpyxl.styles import PatternFill, colors
from openpyxl.styles.differential import DifferentialStyle
from openpyxl.formatting.rule import Rule
from openpyxl.formatting.rule import ColorScaleRule
color_scale_rule = ColorScaleRule(start_type="min",start_color=colors.RED,end_type="max",end_color=colors.GREEN)

# Again, let's add this gradient to the star ratings, column "H"
ws.conditional_formatting.add("H2:H100", color_scale_rule)
wb.save(filename="sample_conditional_formatting_color_scale.xlsx")

In [ ]:
#You can also add a third color and make two gradients instead:
from openpyxl.styles import PatternFill, colors
from openpyxl.styles.differential import DifferentialStyle
from openpyxl.formatting.rule import Rule
from openpyxl.formatting.rule import ColorScaleRule

color_scale_rule = ColorScaleRule(start_type="num",
                                   start_value=1,
                                   start_color=colors.RED,
                                   mid_type="num",
                                   mid_value=3,
                                   mid_color=colors.YELLOW,
                                   end_type="num",
                                   end_value=5,
                                   end_color=colors.GREEN)

# Again, let's add this gradient to the star ratings, column "H"
ws.conditional_formatting.add("H2:H100", color_scale_rule)
wb.save(filename="sample_conditional_formatting_color_scale_3.xlsx")

In [ ]:
#Finally, the DataBar allows you to create progress bars:

from openpyxl.formatting.rule import DataBarRule

data_bar_rule = DataBarRule(start_type="num",start_value=1,end_type="num",end_value="5",color=colors.GREEN)
ws.conditional_formatting.add("H2:H100", data_bar_rule)
wb.save("sample_conditional_formatting_data_bar.xlsx")

In [ ]:
total_styled = total.style\
    .apply(lambda x: ['background:red' if x < 500 else 'background:green' for x in total.Revenue], axis=0)\
    .applymap(lambda x: 'background-color: %s' % 'red' if x <10 else 'background-color: %s' % 'green', subset=['V19 Price','V19 COGS'])\
    .applymap(lambda x: 'background-color: %s' % 'red' if x <1000 else 'background-color: %s' % 'green', subset=['Revenue'])\
    .format({'V19 COGS': '${:20,.2f}'})\
    .format({'V19 Price': '${:20,.2f}'})\
    .format({'Margin %': '{:.2%}'})\
    .format({'Period': '{:%d-%b-%y}'})

In [ ]:
df1=pd.read_excel('reviews-sample.xlsx')

In [ ]:
df1_styled=df1.style\
    .format({'star_rating':'{:.2%}'})
#    .format({'review_date':'{:%d-%b-%y}'})

In [ ]:
df1_styled

In [ ]:
df1_styled.to_excel('Styledtest.xlsx')

In [25]:
t1 = pd.DataFrame(np.random.randint(1,10,(10,3)))
t2 = pd.DataFrame(np.random.randint(1,10,(10,3)))

In [38]:
t1[1].values

array([7, 9, 5, 1, 7, 6, 8, 8, 5, 1])

In [32]:
t2[1].values

array([8, 5, 2, 4, 4, 9, 1, 4, 2, 4])

In [41]:
t1_not_in_t2 = []
for val in t1[1].values:
    if val not in t2[1].values:
        t1_not_in_t2.append(val)
pd.Series(t1_not_in_t2).unique()

array([7, 6], dtype=int64)

In [85]:
%who

Path	 dfxl1	 dfxl2	 dt	 glob	 math	 nbmerge	 np	 op
os	 pd	 t1	 t1_not_in_t2	 t2	 val	 xl1

In [86]:
%whos

Variable       Type         Data/Info
-------------------------------------
Path           type         <class 'pathlib.Path'>
dfxl1          DataFrame    5                        <...>n\n[36 rows x 58 columns]
dfxl2          DataFrame    5                        <...>n\n[36 rows x 58 columns]
dt             module       <module 'datetime' from '<...>hon38\\lib\\datetime.py'>
glob           module       <module 'glob' from 'C:\\<...>\Python38\\lib\\glob.py'>
math           module       <module 'math' (built-in)>
nbmerge        module       <module 'nbmerge' from 'c<...>s\\nbmerge\\__init__.py'>
np             module       <module 'numpy' from 'c:\<...>ges\\numpy\\__init__.py'>
op             module       <module 'openpyxl' from '<...>\\openpyxl\\__init__.py'>
os             module       <module 'os' from 'C:\\Us<...>n\\Python38\\lib\\os.py'>
pd             module       <module 'pandas' from 'c:<...>es\\pandas\\__init__.py'>
t1             DataFrame       0  1  2\n0  3  7  2\n1<...>4\n8  4  5  6\n9  2  1  7
t1_not_in_t2   list         n=3
t2             DataFrame       0  1  2\n0  9  8  5\n1<...>7\n8  1  2  3\n9  8  4  7
val            int32        1
xl1            ExcelFile    <pandas.io.excel._base.Ex<...>ct at 0x000002AE57E2DCA0>

In [87]:
%who_ls

['Path',
 'dfxl1',
 'dfxl2',
 'dt',
 'glob',
 'math',
 'nbmerge',
 'np',
 'op',
 'os',
 'pd',
 't1',
 't1_not_in_t2',
 't2',
 'val',
 'xl1']

In [94]:
os.getcwd()

'C:\\Users\\joao.melo\\PycharmProjects\\LearnPython'

In [95]:
import xlwings as xw
wb = xw.Book()  # this will create a new workbook
wb = xw.Book('Hello.xlsx')  # connect to an existing file in the current working directory
#wb = xw.Book(r'C:\path\to\file.xlsx')  # on Windows: use raw strings to escape backslashes

ModuleNotFoundError: No module named 'xlwings'

In [96]:
import xlwings as xw

ModuleNotFoundError: No module named 'xlwings'